* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 3rem;
    font-family: sans-serif;
}

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    margin: 3rem 0;
    display: flex;
}

.form-control > input {
    padding: 1rem 2rem;
    border: 2px solid #4a4483;
    outline: none;
    font-size: 2rem;
    width: 30rem;
}

.form-control > button,
.filter button {
    border: none;
    background: #4a4483;
    color: #fff;
    font-size: 2rem;
    width: 10rem;
    cursor: pointer;
}

.filter button {
    padding: 1rem 2rem;
}

.shopping-list > li {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 40rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px #ccc;
}

.filter {
    display: flex;
}

.filter > li {
    display: flex;
    background:#4a4483;
    color: #fff;
    margin: 2rem 0.5rem;
}

.shopping-item-name,
.fas.fa-trash {
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    width: 10rem;
    background: #fff;
    font-size: 1.5rem;

}

.done {
    text-decoration: line-through;
}